# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
# .env
# *.env

# Credentials
Backend/credentials.json
Backend/token.pickle

# VSCode / IDE
.vscode/
.idea/

# Node modules (if any frontend present)
node_modules/
dist/
build/

# System
.DS_Store
Thumbs.db
